.btn-primary {
  background-color: #8AC542;
  border: none;
  width: 100%;
  text-align: center;
  color: white;
  padding: 16px 0;
  font-weight: bold;
}

.btn-secondary {
  background-color: white;
  border: solid 1px #8AC542;
  width: 100%;
  text-align: center;
  color: #8AC542;
  padding: 16px 0;
  font-weight: bold;
}
